/* classi utility */
.playstation-button {
    border-width: 2px;
    border-radius: 40px;
}

.playstation-button:hover {
    box-shadow: inset 0px 0px 0px 2px #000;
}

 .height{
    height: 72px;
} 
/* navbar */

.logo_sony{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
.logo_sony img{
    width: 150%;
}
.bkg_img{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 100%;
    height: 100%;
}
.returnal img{
    max-width: 300px;
}
.mgt{
    margin-top: 160px;
}

.navbar-light .navbar-nav .nav-link.active:hover{
    color: blue;
    transition: 1 s;
}
.lens img{
    width: 50px;
    height: 50px;
}

.dropdown-toggle::after{
    display: none;
 }
 .fa-angle-down{
     vertical-align: middle;
 }
 .ps6.dropdown-menu{
    width: 100%;
    margin-top: -1px;
    border: 0;
    border-radius: 0;
}
.dropdown.nav-item{
    position: static;
}

/* maggiori informazioni */

.img_play img{
    width: 100%;
}
.device img{
    width: 70%;
}
li:hover a.animation_blue{
    color: blue;
}

/* takes two */

.bkg_img2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center center;
    background-size: cover;
    height: 600px;
}

/* nuove uscite */

.new_release img{
    width: 100%;
    border-radius: 10px;
}

/* scopri di più */

.product img{
    width: 100%;
}

/* ps plus */

.ps_plus img{
    width: 60%;
}
.bg_cap{
    background-color: burlywood;
}
.soul img{
    width: 100%;
}

/* offerte */

.offerte img{
    width: 100%;
}

/* avengers */

.bg_blue-dark{
    background-color: rgb(6, 6, 48);
}



/* social */

.social img{
    width: 100%;
}

.bg_blue{
    background-color: blue;
}

/* footer */

.sony_logo img{
    width: 110px;
    height: 110px;
}
.flex_cont{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.ps_logo img{
    width: 120px;
}
 
/* lista giochi piccola */

.game_cards a img{
    width: 100%;
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 3px;
    position: relative;
    top: 0;
    transition: all 0.4s ease-in-out;
}

.game_cards a:hover img{
    border-color: blue;
    top: -10px;

} 

/* accessori */

.border_blue{
    border-bottom: 3px solid white;
}
.border_blue:hover{
    border-bottom: 3px solid blue;
}
.opac{
    opacity: 0.8;
}
.opac:hover{
    opacity: 1;
    
}

