.logo_sony{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
.logo_sony img{
    width: 150%;
}
.bkg_img{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.returnal img{
    width: 70%;
}
.mgt{
    margin-top: 190px;
}
.title img{
    width: 100%;
    border-radius: 10px;
}
.img_play img{
    width: 100%;
}
.device img{
    width: 100%;
}
.bkg_img2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
.new_release img{
    width: 100%;
    border-radius: 10px;
}
.product img{
    width: 100%;
}